@media (min-width: 0px) {
  section#primary {
    min-width: 100%;
  }
}


@media (min-width: 600px) {
  section#primary {
    min-width: 35em;
  }
}


@media (min-width: 900px) {
  section#primary {
    min-width: 48em;
  }

  main.split-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 3em);
    min-height: calc(100vh - 3em);
    box-sizing: border-box;
  }

  main.split-screen section {
    overflow-y: scroll;
  }

  main.split-screen section#primary {
    min-width: 0;
    max-width: 50%;
    width: 50%;
  }

  main.split-screen section#secondary {
    min-width: 0;
    max-width: 50%;
    width: 50%;

    height: calc(100vh - 3em);
  }

  main.split-screen>section+section {
    border-left: 1px solid #ccc;
  }
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex: 1;
  margin: 0;
  top: 0;
  box-sizing: border-box;

  flex-direction: column;
  align-items: stretch;

  background: #fefefe;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em 0 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  padding: 0.5em 0;
}

section {
  box-sizing: border-box;
}

section#primary {
  display: flex;
  min-height: calc(100vh-3em);
  padding: 3.5em 2em;
  display: block;
  box-sizing: border-box;
  max-width: 45em;
}

.details-body {
  margin: 0 0 0 0.55em;
  padding: 0.3em 0 0.5em 1em;
  border-left: 1px solid #ccc;
}

button {
  display: inline;
  padding: 0.3em 0.6em;
  border: 1px solid grey;
  font-size: 0.8em;
}

button+button {
  margin-left: 0.5em;
}

span.actions {
  display: inline-block;
  width: 100%;
}

.content {}

.content+span.actions {
  margin-top: 0.4em;
}

.textarea-wrapper {
  width: 100%;
}

.create-task {
  display: block;
}

.entry-form {
  margin: 0 0 1em 1em;
  padding: 1em 0 0 1em;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  padding: 0 1em;
  border-top: 1px solid #ccc;
  height: 3em;
  background-color: #f7f7f7;
  box-shadow: 0 -2px 0.5em white;
}

footer>button {
  margin: 0;
}

label {
  width: 100%;
  display: inline-block;
  padding: 0.2em 0;
}

summary {
  padding: 0.15em 0.25em;
}

.action-element {
  display: inline-block;
  width: 100%;
}

.action-element+.action-element {
  margin-top: 0.2em;
}

.last-active-element {
  outline: 2px solid #4d90fe;
}